<launch>
    <arg name="local_robot_id" default="0" />  
    <arg name="other_robot_id" default="1" />  
    <arg name="message_size" default="10000" />  
    <arg name="buzz_script_name" default="/root/rdpgo_ws/src/robust_distributed_slam_module/scripts/ros_slam" /> 
    <arg name="port" default="24580" />  
    <arg name="rotation_std" default="0.01" />  
    <arg name="translation_std" default="0.1" />  
    
    <group ns="robot_$(arg local_robot_id)">
        <node pkg="robust_distributed_slam_module" type="generic_robot_buzz_slam_node" name="robust_distributed_slam_module">
            <param name="message_size" type="int" value="$(arg message_size)"/>
            <param name="buzz_script_name" type="string" value="$(arg buzz_script_name)"/>
            <param name="robot_id" type="int" value="$(arg local_robot_id)"/>
            <param name="port" type="string" value="$(arg port)"/>
            <param name="next_robot_id" type="int" value="$(arg other_robot_id)"/>
            <param name="rotation_std" type="double" value="$(arg rotation_std)"/>
            <param name="translation_std" type="double" value="$(arg translation_std)"/>
        </node>
    </group>
</launch>
